/**
 *  Stylesheet for Swtor Parser v2
 *  @author Frank Schiemenz
 */

@charset "ISO-8859-1";

html, 
body {
	margin: 0px 0px 0px 0px;
	padding: 0px 0 0px 0px;
}

body {
	font-family: Verdana, Helvetica, Arial, sans-serif;
	color: rgb(16, 82, 137);//rgb(69, 114, 167);
	font-size: 11px;
}

#the_header,
#the_form {	
	height: auto;
	margin: 0px 0px 5px 0px;
	padding: 5px 0px 5px 10px;

	border: 1px solid; 
	border-color: rgb(69, 114, 167);
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px; 
	-khtml-border-radius: 6px; 
}

#the_header {
	background: -moz-linear-gradient(90deg, rgb(222, 222, 222), rgb(255, 255, 255));
}

#the_form {
	background: -moz-linear-gradient(-90deg, rgb(222, 222, 222), rgb(255, 255, 255));
}

#the_header a {
	text-decoration: none;
}

#highcharts_container,
#another_highcharts_container{
	margin: 5px 0 5px 0;	
}